.visitor-counter {
  text-align: center;
  font-size: 45px;
  font-weight: bolder;
  background-color: black;
  color: white;
  padding: 7px;
  padding-top: 0px;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
